<div class="conteiner px-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <p>投稿の詳細</p>
      <div class="card p-4 d-flex flex-row">
        <!--左側-->
        <div class="col-md-9">
          <%= image_tag @work.get_work_image(600,600), class: "card-img-top" %>
        </div>
        <!--右側-->
        <div class="col-md-3">
          <div>
            <h1 class="card-title"><%= @work.title %></h1>
          </div>
          <div>
            <p class="card-text"><%= @work.body %></p>
          </div>
          <!--ユーザー情報-->
          <div class="card-link text-right">
            <%= link_to user_path(@work.user_id) do %>
              <div>
                <%= image_tag @work.user.get_profile_image(50,50) %>
                <%= @work.user.name %>
              </div>
              <div class="text-black-50">
                @<%= @work.user.name_id %>
              </div>
            <% end %>
            <div class="text-black-50">
              <%= @work.created_at %>
            </div>
            <div>
              <!--コメント数-->
              <div class="work-comment-counter">
                <%= render 'work_comments/count', work: @work %>
              </div>
              <!--閲覧数-->
              <div>
                <%= @work.view_counts.count %> Views
              </div>
              <!--いいね数-->
              <div class=<%= "favorite-" + @work.id.to_s %>>
                <%= render 'work_favorites/btn', work: @work %>
              </div>
            </div>
            <!--投稿者の場合の編集ボタンと削除-->
            <% if @work.user == current_user %>
              <%= link_to edit_work_path(@work), class: "btn btn-outline-danger py-0" do %>
                <%= @work.state %>
              <% end %>
              <%= link_to '削除', work_path(@work), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-secondary py-0" %>
            <% end %>
          </div>
          <!--コメント送信-->
          <div>
            <%= render 'work_comments/form', work: @work, new_work_comment: @new_work_comment %>
          </div>
          <!--コメント表示-->
          <div class="work-comment-index mt-3">
            <%= render 'work_comments/index', work: @work %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>