<!DOCTYPE html>
<html>
  <head>
    <title>Artwork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d3818fb7f0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="mt-5">
      <% if user_signed_in? %>
        <%= link_to '新規投稿', new_work_path %>
        <%= link_to '投稿一覧', works_path %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, "data-confirm" => "ログアウトしますか？" %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
